{
  "openapi": "3.1.0",
  "info": {
    "title": "Laravel Cloud",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://cloud.laravel.com/api"
    }
  ],
  "tags": [
    {
      "name": "Applications"
    },
    {
      "name": "Environments"
    },
    {
      "name": "Domains"
    },
    {
      "name": "Commands"
    },
    {
      "name": "Deployments"
    },
    {
      "name": "Instances"
    },
    {
      "name": "Background Processes"
    },
    {
      "name": "Database Clusters"
    },
    {
      "name": "Databases"
    },
    {
      "name": "Database Snapshots"
    },
    {
      "name": "Database Restores"
    },
    {
      "name": "Object Storage Buckets"
    },
    {
      "name": "Bucket Keys"
    },
    {
      "name": "Caches"
    },
    {
      "name": "WebSocket Clusters"
    },
    {
      "name": "WebSocket Applications"
    },
    {
      "name": "Dedicated Clusters"
    },
    {
      "name": "Usage"
    },
    {
      "name": "Meta"
    },
    {
      "name": "Databases (Legacy)"
    }
  ],
  "security": [
    {
      "http": []
    }
  ],
  "paths": {
    "/applications": {
      "get": {
        "operationId": "public.applications.index",
        "description": "Get a list of all applications for the authenticated organization.",
        "summary": "List applications",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "filter[name]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[region]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[slug]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "organization",
                  "environments",
                  "defaultEnvironment"
                ]
              }
            },
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `ApplicationResource`",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApplicationResource"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "prev": {
                          "type": "string"
                        },
                        "next": {
                          "type": "string"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "from": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "minimum": 1
                        },
                        "last_page": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "links": {
                          "type": "array",
                          "description": "Generated paginator links.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "label": {
                                "type": "string"
                              },
                              "active": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "url",
                              "label",
                              "active"
                            ]
                          }
                        },
                        "path": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Base path for paginator generated URLs."
                        },
                        "per_page": {
                          "type": "integer",
                          "description": "Number of items shown per page.",
                          "minimum": 0
                        },
                        "to": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Number of the last item in the slice.",
                          "minimum": 1
                        },
                        "total": {
                          "type": "integer",
                          "description": "Total number of items being paginated.",
                          "minimum": 0
                        }
                      },
                      "required": [
                        "current_page",
                        "from",
                        "last_page",
                        "links",
                        "path",
                        "per_page",
                        "to",
                        "total"
                      ]
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/RepositoryResource"
                          },
                          {
                            "$ref": "#/components/schemas/OrganizationResource"
                          },
                          {
                            "$ref": "#/components/schemas/EnvironmentResource"
                          },
                          {
                            "$ref": "#/components/schemas/DeploymentResource"
                          }
                        ]
                      }
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "An error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview.",
                      "example": ""
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "public.applications.store",
        "description": "Create a new application.",
        "summary": "Create application",
        "tags": [
          "Applications"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "`ApplicationResource`",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ApplicationResource"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/RepositoryResource"
                          },
                          {
                            "$ref": "#/components/schemas/OrganizationResource"
                          },
                          {
                            "$ref": "#/components/schemas/EnvironmentResource"
                          },
                          {
                            "$ref": "#/components/schemas/DeploymentResource"
                          }
                        ]
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "An error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview.",
                      "example": ""
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/applications/{application}": {
      "get": {
        "operationId": "public.applications.show",
        "description": "Get a specific application.",
        "summary": "Get application",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "application",
            "in": "path",
            "required": true,
            "description": "The application identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "organization",
                  "environments",
                  "defaultEnvironment"
                ]
              }
            },
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "`ApplicationResource`",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ApplicationResource"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/RepositoryResource"
                          },
                          {
                            "$ref": "#/components/schemas/OrganizationResource"
                          },
                          {
                            "$ref": "#/components/schemas/EnvironmentResource"
                          },
                          {
                            "$ref": "#/components/schemas/DeploymentResource"
                          }
                        ]
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      },
      "patch": {
        "operationId": "public.applications.update",
        "description": "Update an application.",
        "summary": "Update application",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "application",
            "in": "path",
            "required": true,
            "description": "The application identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`ApplicationResource`",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ApplicationResource"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/RepositoryResource"
                          },
                          {
                            "$ref": "#/components/schemas/OrganizationResource"
                          },
                          {
                            "$ref": "#/components/schemas/EnvironmentResource"
                          },
                          {
                            "$ref": "#/components/schemas/DeploymentResource"
                          }
                        ]
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "An error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview.",
                      "example": ""
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "public.applications.destroy",
        "description": "Delete an application and all of its environments.",
        "summary": "Delete application",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "application",
            "in": "path",
            "required": true,
            "description": "The application identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      }
    },
    "/applications/{application}/avatar": {
      "post": {
        "operationId": "public.applications.avatar.store",
        "description": "Upload or replace the avatar for an application.",
        "summary": "Upload application avatar",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "application",
            "in": "path",
            "required": true,
            "description": "The application identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "avatar": {
                    "type": "string",
                    "format": "binary",
                    "contentMediaType": "application/octet-stream",
                    "maxLength": 3072
                  }
                },
                "required": [
                  "avatar"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`ApplicationResource`",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ApplicationResource"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/RepositoryResource"
                          },
                          {
                            "$ref": "#/components/schemas/OrganizationResource"
                          },
                          {
                            "$ref": "#/components/schemas/EnvironmentResource"
                          },
                          {
                            "$ref": "#/components/schemas/DeploymentResource"
                          }
                        ]
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "public.applications.avatar.destroy",
        "description": "Remove the avatar from an application.",
        "summary": "Delete application avatar",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "application",
            "in": "path",
            "required": true,
            "description": "The application identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      }
    },
    "/instances/{instance}/background-processes": {
      "get": {
        "operationId": "public.instances.background-processes.index",
        "description": "Get a list of all background processes for the given instance.",
        "summary": "List background processes",
        "tags": [
          "Background Processes"
        ],
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "description": "The instance identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "instance"
                ]
              }
            },
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `BackgroundProcessResource`",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BackgroundProcessResource"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "prev": {
                          "type": "string"
                        },
                        "next": {
                          "type": "string"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "from": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "minimum": 1
                        },
                        "last_page": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "links": {
                          "type": "array",
                          "description": "Generated paginator links.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "label": {
                                "type": "string"
                              },
                              "active": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "url",
                              "label",
                              "active"
                            ]
                          }
                        },
                        "path": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Base path for paginator generated URLs."
                        },
                        "per_page": {
                          "type": "integer",
                          "description": "Number of items shown per page.",
                          "minimum": 0
                        },
                        "to": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Number of the last item in the slice.",
                          "minimum": 1
                        },
                        "total": {
                          "type": "integer",
                          "description": "Total number of items being paginated.",
                          "minimum": 0
                        }
                      },
                      "required": [
                        "current_page",
                        "from",
                        "last_page",
                        "links",
                        "path",
                        "per_page",
                        "to",
                        "total"
                      ]
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/InstanceResource"
                      }
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      },
      "post": {
        "operationId": "public.instances.background-processes.store",
        "description": "Create a new background process for an instance.",
        "summary": "Create background process",
        "tags": [
          "Background Processes"
        ],
        "parameters": [
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "description": "The instance identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBackgroundProcessRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "`BackgroundProcessResource`",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BackgroundProcessResource"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/InstanceResource"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/background-processes/{backgroundProcess}": {
      "get": {
        "operationId": "public.background-processes.show",
        "description": "Get the details of a specific background process.",
        "summary": "Get background process",
        "tags": [
          "Background Processes"
        ],
        "parameters": [
          {
            "name": "backgroundProcess",
            "in": "path",
            "required": true,
            "description": "The background process identifier",
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "instance"
                ]
              }
            },
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "`BackgroundProcessResource`",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BackgroundProcessResource"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/InstanceResource"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      },
      "patch": {
        "operationId": "public.background-processes.update",
        "description": "Update a background process.",
        "summary": "Update background process",
        "tags": [
          "Background Processes"
        ],
        "parameters": [
          {
            "name": "backgroundProcess",
            "in": "path",
            "required": true,
            "description": "The background process identifier",
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBackgroundProcessRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`BackgroundProcessResource`",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BackgroundProcessResource"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/InstanceResource"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "public.background-processes.destroy",
        "description": "Delete a background process.",
        "summary": "Delete background process",
        "tags": [
          "Background Processes"
        ],
        "parameters": [
          {
            "name": "backgroundProcess",
            "in": "path",
            "required": true,
            "description": "The background process identifier",
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/buckets/{filesystem}/keys": {
      "get": {
        "operationId": "public.buckets.keys.index",
        "description": "Get a list of all keys for a specific object storage bucket.",
        "summary": "List object storage keys",
        "tags": [
          "Bucket Keys"
        ],
        "parameters": [
          {
            "name": "filesystem",
            "in": "path",
            "required": true,
            "description": "The filesystem identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "filesystem"
                ]
              }
            },
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `FilesystemKeyResource`",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FilesystemKeyResource"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "prev": {
                          "type": "string"
                        },
                        "next": {
                          "type": "string"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "from": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "minimum": 1
                        },
                        "last_page": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "links": {
                          "type": "array",
                          "description": "Generated paginator links.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "label": {
                                "type": "string"
                              },
                              "active": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "url",
                              "label",
                              "active"
                            ]
                          }
                        },
                        "path": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Base path for paginator generated URLs."
                        },
                        "per_page": {
                          "type": "integer",
                          "description": "Number of items shown per page.",
                          "minimum": 0
                        },
                        "to": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Number of the last item in the slice.",
                          "minimum": 1
                        },
                        "total": {
                          "type": "integer",
                          "description": "Total number of items being paginated.",
                          "minimum": 0
                        }
                      },
                      "required": [
                        "current_page",
                        "from",
                        "last_page",
                        "links",
                        "path",
                        "per_page",
                        "to",
                        "total"
                      ]
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FilesystemResource"
                      }
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      },
      "post": {
        "operationId": "public.buckets.keys.store",
        "description": "Create a new key for an object storage bucket.",
        "summary": "Create object storage key",
        "tags": [
          "Bucket Keys"
        ],
        "parameters": [
          {
            "name": "filesystem",
            "in": "path",
            "required": true,
            "description": "The filesystem identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreFilesystemKeyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "`FilesystemKeyResource`",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/FilesystemKeyResource"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FilesystemResource"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/bucket-keys/{filesystemKey}": {
      "get": {
        "operationId": "public.bucket-keys.show",
        "description": "Get a specific object storage key.",
        "summary": "Get object storage key",
        "tags": [
          "Bucket Keys"
        ],
        "parameters": [
          {
            "name": "filesystemKey",
            "in": "path",
            "required": true,
            "description": "The filesystem key identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "filesystem"
                ]
              }
            },
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "`FilesystemKeyResource`",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/FilesystemKeyResource"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FilesystemResource"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      },
      "patch": {
        "operationId": "public.bucket-keys.update",
        "description": "Update an object storage key.",
        "summary": "Update object storage key",
        "tags": [
          "Bucket Keys"
        ],
        "parameters": [
          {
            "name": "filesystemKey",
            "in": "path",
            "required": true,
            "description": "The filesystem key identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFilesystemKeyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`FilesystemKeyResource`",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/FilesystemKeyResource"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FilesystemResource"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "public.bucket-keys.destroy",
        "description": "Delete an object storage key.",
        "summary": "Delete object storage key",
        "tags": [
          "Bucket Keys"
        ],
        "parameters": [
          {
            "name": "filesystemKey",
            "in": "path",
            "required": true,
            "description": "The filesystem key identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/caches/types": {
      "get": {
        "operationId": "public.caches.types",
        "summary": "List all available cache types with their configuration options",
        "tags": [
          "Caches"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "label": {
                            "type": "string"
                          },
                          "regions": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/CloudRegion"
                            }
                          },
                          "sizes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "value": {
                                  "type": "string"
                                },
                                "label": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "value",
                                "label"
                              ]
                            }
                          },
                          "supports_auto_upgrade": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "type",
                          "label",
                          "regions",
                          "sizes",
                          "supports_auto_upgrade"
                        ]
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/caches": {
      "get": {
        "operationId": "public.caches.index",
        "description": "Get a list of all caches for the authenticated organization.",
        "summary": "List caches",
        "tags": [
          "Caches"
        ],
        "parameters": [
          {
            "name": "filter[type]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[region]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[status]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `CacheResource`",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CacheResource"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "prev": {
                          "type": "string"
                        },
                        "next": {
                          "type": "string"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "from": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "minimum": 1
                        },
                        "last_page": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "links": {
                          "type": "array",
                          "description": "Generated paginator links.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "label": {
                                "type": "string"
                              },
                              "active": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "url",
                              "label",
                              "active"
                            ]
                          }
                        },
                        "path": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Base path for paginator generated URLs."
                        },
                        "per_page": {
                          "type": "integer",
                          "description": "Number of items shown per page.",
                          "minimum": 0
                        },
                        "to": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Number of the last item in the slice.",
                          "minimum": 1
                        },
                        "total": {
                          "type": "integer",
                          "description": "Total number of items being paginated.",
                          "minimum": 0
                        }
                      },
                      "required": [
                        "current_page",
                        "from",
                        "last_page",
                        "links",
                        "path",
                        "per_page",
                        "to",
                        "total"
                      ]
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EnvironmentResource"
                      }
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "An error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview.",
                      "example": ""
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "public.caches.store",
        "description": "Create a new cache.",
        "summary": "Create cache",
        "tags": [
          "Caches"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreCacheRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "`CacheResource`",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CacheResource"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EnvironmentResource"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "An error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview.",
                      "example": ""
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/caches/{cache}": {
      "get": {
        "operationId": "public.caches.show",
        "description": "Get a specific cache.",
        "summary": "Get cache",
        "tags": [
          "Caches"
        ],
        "parameters": [
          {
            "name": "cache",
            "in": "path",
            "required": true,
            "description": "The cache identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`CacheResource`",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CacheResource"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EnvironmentResource"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      },
      "patch": {
        "operationId": "public.caches.update",
        "description": "Update a cache.",
        "summary": "Update cache",
        "tags": [
          "Caches"
        ],
        "parameters": [
          {
            "name": "cache",
            "in": "path",
            "required": true,
            "description": "The cache identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCacheRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`CacheResource`",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CacheResource"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EnvironmentResource"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "public.caches.destroy",
        "description": "Delete a cache.",
        "summary": "Delete cache",
        "tags": [
          "Caches"
        ],
        "parameters": [
          {
            "name": "cache",
            "in": "path",
            "required": true,
            "description": "The cache identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/caches/{cache}/metrics": {
      "get": {
        "operationId": "public.caches.metrics",
        "description": "Get metrics for a specific cache.",
        "summary": "Get cache metrics",
        "tags": [
          "Caches"
        ],
        "parameters": [
          {
            "name": "cache",
            "in": "path",
            "required": true,
            "description": "The cache identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/MetricPeriod"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "hits_and_misses": {
                          "type": "object",
                          "properties": {
                            "labels": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "average": {
                              "type": "array",
                              "items": {
                                "type": "number"
                              }
                            },
                            "data": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "x": {
                                    "type": "string"
                                  },
                                  "y": {
                                    "type": "array",
                                    "items": {
                                      "type": "number"
                                    }
                                  }
                                },
                                "required": [
                                  "x",
                                  "y"
                                ]
                              }
                            }
                          },
                          "required": [
                            "labels",
                            "average",
                            "data"
                          ]
                        },
                        "throughput": {
                          "type": "object",
                          "properties": {
                            "labels": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "average": {
                              "type": "array",
                              "items": {
                                "type": "number"
                              }
                            },
                            "data": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "x": {
                                    "type": "string"
                                  },
                                  "y": {
                                    "type": "array",
                                    "items": {
                                      "type": "number"
                                    }
                                  }
                                },
                                "required": [
                                  "x",
                                  "y"
                                ]
                              }
                            }
                          },
                          "required": [
                            "labels",
                            "average",
                            "data"
                          ]
                        },
                        "size": {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "x": {
                                    "type": "string"
                                  },
                                  "y": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "x",
                                  "y"
                                ]
                              }
                            },
                            "total": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "data",
                            "total"
                          ]
                        },
                        "bandwidth_usage": {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "x": {
                                    "type": "string"
                                  },
                                  "y": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "x",
                                  "y"
                                ]
                              }
                            },
                            "total": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "data",
                            "total"
                          ]
                        }
                      },
                      "required": [
                        "hits_and_misses",
                        "throughput",
                        "size",
                        "bandwidth_usage"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "period": {
                          "type": "string"
                        },
                        "available_periods": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "required": [
                        "period",
                        "available_periods"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/environments/{environment}/commands": {
      "get": {
        "operationId": "public.environments.commands.index",
        "description": "Get a list of all commands for the given environment.",
        "summary": "List commands",
        "tags": [
          "Commands"
        ],
        "parameters": [
          {
            "name": "environment",
            "in": "path",
            "required": true,
            "description": "The environment identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[status]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[command]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "environment",
                  "deployment",
                  "initiator"
                ]
              }
            },
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `CommandResource`",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CommandResource"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "prev": {
                          "type": "string"
                        },
                        "next": {
                          "type": "string"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "from": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "minimum": 1
                        },
                        "last_page": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "links": {
                          "type": "array",
                          "description": "Generated paginator links.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "label": {
                                "type": "string"
                              },
                              "active": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "url",
                              "label",
                              "active"
                            ]
                          }
                        },
                        "path": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Base path for paginator generated URLs."
                        },
                        "per_page": {
                          "type": "integer",
                          "description": "Number of items shown per page.",
                          "minimum": 0
                        },
                        "to": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Number of the last item in the slice.",
                          "minimum": 1
                        },
                        "total": {
                          "type": "integer",
                          "description": "Total number of items being paginated.",
                          "minimum": 0
                        }
                      },
                      "required": [
                        "current_page",
                        "from",
                        "last_page",
                        "links",
                        "path",
                        "per_page",
                        "to",
                        "total"
                      ]
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/EnvironmentResource"
                          },
                          {
                            "$ref": "#/components/schemas/DeploymentResource"
                          },
                          {
                            "$ref": "#/components/schemas/UserResource"
                          }
                        ]
                      }
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      },
      "post": {
        "operationId": "public.environments.commands.store",
        "description": "Run a command on the given environment.",
        "summary": "Run command",
        "tags": [
          "Commands"
        ],
        "parameters": [
          {
            "name": "environment",
            "in": "path",
            "required": true,
            "description": "The environment identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCommandRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`CommandResource`",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CommandResource"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/EnvironmentResource"
                          },
                          {
                            "$ref": "#/components/schemas/DeploymentResource"
                          },
                          {
                            "$ref": "#/components/schemas/UserResource"
                          }
                        ]
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/commands/{command}": {
      "get": {
        "operationId": "public.commands.show",
        "description": "Get the details of a specific command.",
        "summary": "Get command",
        "tags": [
          "Commands"
        ],
        "parameters": [
          {
            "name": "command",
            "in": "path",
            "required": true,
            "description": "The command identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "environment",
                  "deployment",
                  "initiator"
                ]
              }
            },
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "`CommandResource`",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CommandResource"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/EnvironmentResource"
                          },
                          {
                            "$ref": "#/components/schemas/DeploymentResource"
                          },
                          {
                            "$ref": "#/components/schemas/UserResource"
                          }
                        ]
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      }
    },
    "/databases/types": {
      "get": {
        "operationId": "public.databases.types",
        "description": "List all available database types with their configuration schemas.",
        "summary": "List database types",
        "tags": [
          "Database Clusters"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "label": {
                            "type": "string"
                          },
                          "regions": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "config_schema": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                },
                                "required": {
                                  "type": "boolean"
                                },
                                "nullable": {
                                  "type": "boolean"
                                },
                                "description": {
                                  "type": "string"
                                },
                                "min": {
                                  "type": "integer"
                                },
                                "max": {
                                  "type": "integer"
                                },
                                "enum": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "example": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "name",
                                "type",
                                "required"
                              ]
                            }
                          }
                        },
                        "required": [
                          "type",
                          "label",
                          "regions",
                          "config_schema"
                        ]
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/databases/clusters": {
      "get": {
        "operationId": "public.databases.clusters.index",
        "description": "Get a list of all database clusters for the authenticated organization. The `schemas` relationship is deprecated.",
        "summary": "List database clusters",
        "tags": [
          "Database Clusters"
        ],
        "parameters": [
          {
            "name": "filter[type]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[region]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[status]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "schemas",
                  "databases"
                ]
              }
            },
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `DatabaseResource`",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DatabaseResource"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "prev": {
                          "type": "string"
                        },
                        "next": {
                          "type": "string"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "from": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "minimum": 1
                        },
                        "last_page": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "links": {
                          "type": "array",
                          "description": "Generated paginator links.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "label": {
                                "type": "string"
                              },
                              "active": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "url",
                              "label",
                              "active"
                            ]
                          }
                        },
                        "path": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Base path for paginator generated URLs."
                        },
                        "per_page": {
                          "type": "integer",
                          "description": "Number of items shown per page.",
                          "minimum": 0
                        },
                        "to": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Number of the last item in the slice.",
                          "minimum": 1
                        },
                        "total": {
                          "type": "integer",
                          "description": "Total number of items being paginated.",
                          "minimum": 0
                        }
                      },
                      "required": [
                        "current_page",
                        "from",
                        "last_page",
                        "links",
                        "path",
                        "per_page",
                        "to",
                        "total"
                      ]
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DatabaseSchemaResource"
                      }
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "An error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview.",
                      "example": ""
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "public.databases.clusters.store",
        "description": "Create a new database cluster. A default database will also be created and returned on the `databases` relationship. `schemas` is deprecated.",
        "summary": "Create database cluster",
        "tags": [
          "Database Clusters"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreDatabaseRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "`DatabaseResource`",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DatabaseResource"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DatabaseSchemaResource"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "An error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview.",
                      "example": ""
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/databases/clusters/{database}": {
      "get": {
        "operationId": "public.databases.clusters.show",
        "description": "Get a specific database cluster. The `schemas` relationship is deprecated.",
        "summary": "Get database cluster",
        "tags": [
          "Database Clusters"
        ],
        "parameters": [
          {
            "name": "database",
            "in": "path",
            "required": true,
            "description": "The database identifier",
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "schemas",
                  "databases"
                ]
              }
            },
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "`DatabaseResource`",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DatabaseResource"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DatabaseSchemaResource"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      },
      "patch": {
        "operationId": "public.databases.clusters.update",
        "description": "Update a database cluster.",
        "summary": "Update database cluster",
        "tags": [
          "Database Clusters"
        ],
        "parameters": [
          {
            "name": "database",
            "in": "path",
            "required": true,
            "description": "The database identifier",
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDatabaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`DatabaseResource`",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DatabaseResource"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DatabaseSchemaResource"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "public.databases.clusters.destroy",
        "description": "Delete a database cluster.",
        "summary": "Delete database cluster",
        "tags": [
          "Database Clusters"
        ],
        "parameters": [
          {
            "name": "database",
            "in": "path",
            "required": true,
            "description": "The database identifier",
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/databases/clusters/{database}/metrics": {
      "get": {
        "operationId": "public.databases.clusters.metrics",
        "description": "Get metrics for a specific database cluster.",
        "summary": "Get database cluster metrics",
        "tags": [
          "Database Clusters"
        ],
        "parameters": [
          {
            "name": "database",
            "in": "path",
            "required": true,
            "description": "The database identifier",
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "period",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/MetricPeriod"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "cpu_usage": {
                          "type": "object",
                          "properties": {
                            "labels": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "average": {
                              "type": "array",
                              "items": {
                                "type": "number"
                              }
                            },
                            "data": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "x": {
                                    "type": "string"
                                  },
                                  "y": {
                                    "type": "array",
                                    "items": {
                                      "type": "number"
                                    }
                                  }
                                },
                                "required": [
                                  "x",
                                  "y"
                                ]
                              }
                            }
                          },
                          "required": [
                            "labels",
                            "average",
                            "data"
                          ]
                        },
                        "compute_hours": {
                          "type": "object",
                          "properties": {
                            "labels": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "average": {
                              "type": "array",
                              "items": {
                                "type": "number"
                              }
                            },
                            "data": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "x": {
                                    "type": "string"
                                  },
                                  "y": {
                                    "type": "array",
                                    "items": {
                                      "type": "number"
                                    }
                                  }
                                },
                                "required": [
                                  "x",
                                  "y"
                                ]
                              }
                            }
                          },
                          "required": [
                            "labels",
                            "average",
                            "data"
                          ]
                        },
                        "memory_usage": {
                          "type": "object",
                          "properties": {
                            "labels": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "average": {
                              "type": "array",
                              "items": {
                                "type": "number"
                              }
                            },
                            "data": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "x": {
                                    "type": "string"
                                  },
                                  "y": {
                                    "type": "array",
                                    "items": {
                                      "type": "number"
                                    }
                                  }
                                },
                                "required": [
                                  "x",
                                  "y"
                                ]
                              }
                            }
                          },
                          "required": [
                            "labels",
                            "average",
                            "data"
                          ]
                        },
                        "writes": {
                          "type": "object",
                          "properties": {
                            "labels": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "average": {
[...]
